In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime as dt
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
48,tt2058673,105000000,133718711,Point Break,Edgar RamÃ­rez|Luke Bracey|Teresa Palmer|Delro...,Ericson Core,The only law that matters is gravity,A young undercover FBI agent infiltrates a gan...,114,Action|Crime|Thriller,Studio Babelsberg|Alcon Entertainment|DMG Ente...,12/3/2015,5.5,2015
930,tt0280030,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,6.2,2002
1430,tt0317132,14000000,32645546,Because of Winn-Dixie,Jeff Daniels|AnnaSophia Robb|Cicely Tyson|Eva ...,Wayne Wang,Discover what happens when you go looking for ...,"A girl, abandoned by her mother when she was t...",106,Comedy|Drama|Family,Twentieth Century Fox Film Corporation,2/18/2005,6.1,2005
49,tt2503944,20000000,36606743,Burnt,Bradley Cooper|Sienna Miller|Lily James|Alicia...,John Wells,Never underestimate a man with everything to l...,Adam Jones is a Chef who destroyed his career ...,100,Drama,Double Feature Films|PeaPie Films|3 Arts Enter...,10/2/2015,6.3,2015
527,tt0240890,28000000,77516304,Serendipity,John Cusack|Kate Beckinsale|Jeremy Piven|Bridg...,Peter Chelsom,Sometimes True Love Can Have More Than One Face.,Although strangers Sara and Jonathan are both ...,90,Comedy|Romance,Miramax Films|Tapestry Films|Simon Fields Prod...,10/5/2001,6.6,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
imdb_id                 1889 non-null object
budget                  1889 non-null int64
revenue                 1889 non-null int64
original_title          1889 non-null object
cast                    1889 non-null object
director                1889 non-null object
tagline                 1889 non-null object
overview                1889 non-null object
runtime                 1889 non-null int64
genres                  1889 non-null object
production_companies    1889 non-null object
release_date            1889 non-null object
vote_average            1889 non-null float64
release_year            1889 non-null int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

In [6]:
# создание столбца с прибылью
data['profit'] = data['revenue'] - data['budget']

In [7]:
# конвертирование столбца с датами в тип "datetime"
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_date'].head()

0   2015-06-09
1   2015-05-13
2   2015-03-18
3   2015-12-15
4   2015-04-01
Name: release_date, dtype: datetime64[ns]

In [8]:
data['release_month'] = data['release_date'].dt.month

In [9]:
#Функция №1: развертывание столбца на несколько строк.
#df_src - датафрейм, col - имя колонки, sep - разделитель (по умлочанию |)
def expand_col(df_src, col, sep='|'):
    di = {}
    idx = 0
    for i in df_src.iterrows():
        d = i[1]
        names = d[col].split(sep)
        for name in names:
            c = d.copy()
            c[col] = name
            di[idx] = c
            idx += 1

    df_new = pd.DataFrame(di).transpose()

    return df_new

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [10]:
data[data['budget'] == data['budget'].max()][['imdb_id','original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

In [11]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [12]:
# можно добавлять разные варианты решения
data.sort_values('budget', ascending = False)[['imdb_id','original_title']].iloc[0]

imdb_id                                             tt1298650
original_title    Pirates of the Caribbean: On Stranger Tides
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [13]:
data[data['runtime'] == data['runtime'].max()][['imdb_id','original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

ВАРИАНТ 2

In [14]:
data.sort_values('runtime', ascending = False)[['imdb_id','original_title']].iloc[0]

imdb_id                   tt0279111
original_title    Gods and Generals
Name: 1157, dtype: object

In [15]:
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [16]:
data[data['runtime'] == data['runtime'].min()][['imdb_id','original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

In [17]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [18]:
round(data['runtime'].mean())

110

In [19]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [20]:
round(data['runtime'].median())

107

In [21]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [22]:
data[data['profit'] == data['profit'].max()][['imdb_id','original_title']]

       imdb_id original_title
239  tt0499549         Avatar

In [23]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [24]:
data[data['profit'] == data['profit'].min()][['imdb_id','original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

In [25]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [26]:
len(data[data['revenue'] > data['budget']])

1478

ВАРИАНТ 2

In [27]:
data.query("revenue > budget").count()['imdb_id']

1478

In [28]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [29]:
data[data['revenue'] == data[data['release_year'] == 2008]['revenue'].max()][['imdb_id','original_title']]

       imdb_id   original_title
599  tt0468569  The Dark Knight

In [30]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [31]:
#Вычисление самого большого убытка в период 2012-2014
min_profit_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]['profit'].min()

In [32]:
#Выбор строчки со значением минимальной прибыли за 2012-2014 годы
data[data['profit'] == min_profit_2012_2014][['imdb_id','original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

In [33]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [34]:
#Вариант с развертыванием вложенных жанров на несколько строк
df_gen = expand_col(data, 'genres')
df_gen['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [35]:
#Вариант с циклом и counter 
flattened_genres = []
for g_list in data['genres']:
    for item in g_list.split('|'):
        flattened_genres.append(item)

In [36]:
import collections

genres_count = collections.Counter()
for genre in flattened_genres:
    genres_count[genre] += 1

In [37]:
genres_count.most_common()

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

In [38]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [39]:
flattened_profit_genres = []
for g_list in data[data['profit'] > 0]['genres']:
    for item in g_list.split('|'):
        flattened_profit_genres.append(item)
        
import collections

profit_genres_count = collections.Counter()
for genre in flattened_profit_genres:
    profit_genres_count[genre] += 1

In [40]:
profit_genres_count.most_common()

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242),
 ('Crime', 231),
 ('Family', 226),
 ('Science Fiction', 195),
 ('Fantasy', 188),
 ('Horror', 150),
 ('Animation', 120),
 ('Mystery', 119),
 ('Music', 47),
 ('History', 46),
 ('War', 41),
 ('Western', 12),
 ('Documentary', 7)]

Вариант 2

In [41]:
#Вариант с использованием датафрема с развернутым на несколько строк списком из вопроса №11
df_gen[df_gen['profit'] > 0]['genres'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [42]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [43]:
#Развертывание колонки с режиссерами с датафреймом из п.11-12 (для того, чтобы решить в последствии п.14)
df_gen_dir = expand_col(df_gen, 'director')
df_gen_dir['director'].value_counts()

Ridley Scott         36
Robert Rodriguez     34
Steven Soderbergh    32
Clint Eastwood       32
Steven Spielberg     29
                     ..
Etan Cohen            1
Don Scardino          1
Paolo Sorrentino      1
Rusty Cundieff        1
Jeff Nichols          1
Name: director, Length: 997, dtype: int64

In [44]:
#Непосредственно решение задачи с помощью метода groupby и сортировки
dir_revenue = df_gen_dir['revenue'].groupby(df_gen_dir['director']).sum().reset_index()
dir_revenue.sort_values('revenue', ascending = False, inplace = True)
dir_revenue.reset_index(drop=True, inplace=True)
print(dir_revenue.head(5))

            director      revenue
0      Peter Jackson  17464735681
1  Christopher Nolan  16196885522
2        David Yates  13401099613
3        J.J. Abrams  12805687973
4        Michael Bay  12370445156

In [45]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [46]:
action_films_dir = df_gen_dir[df_gen_dir['genres'] == 'Action']['director']
action_films_dir.value_counts()

Robert Rodriguez                    9
Michael Bay                         7
Paul W.S. Anderson                  7
Antoine Fuqua                       6
Ridley Scott                        6
                                   ..
Patrick Hughes                      1
Florian Henckel von Donnersmarck    1
Antony Hoffman                      1
Robert Redford                      1
Mabrouk El Mechri                   1
Name: director, Length: 364, dtype: int64

In [47]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [48]:
#Формирование датафрейма с фильмами за 2012 год
act_rev_2012 = data[data['release_year'] == 2012][['revenue','cast','release_year']]

In [49]:
#Развертывание столбца cast c помощью функции
act_rev_2012_exp = expand_col(act_rev_2012,'cast')

In [50]:
sum_act_rev_2012_exp = act_rev_2012_exp[['cast','revenue']].groupby('cast').sum().reset_index()
sum_act_rev_2012_exp.sort_values('revenue', ascending = False, inplace = True)
sum_act_rev_2012_exp.reset_index(drop=True, inplace=True)
print(sum_act_rev_2012_exp.head(5))

                cast     revenue
0    Chris Hemsworth  2027450773
1        Denis Leary  1629460639
2      Anne Hathaway  1522851057
3  Robert Downey Jr.  1519557910
4       Mark Ruffalo  1519557910

In [51]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [52]:
#Создание датафрейма только с актерами и бюджетом
df_act_bud = data[['budget','cast']]

In [53]:
#Вычисление порога высокого бюджета - все, что выше среднего.
high_budget = data['budget'].mean()
print(high_budget)

54310829.63843303

In [54]:
#Выбор из датафрейма только высокобюджетных фильмов
df_act_bud_high = df_act_bud[df_act_bud['budget'] > high_budget]

In [55]:
#Разворачивание столбца с актерами в сформированном ранее датафрейме
exp_df_act_bud_high = expand_col(df_act_bud_high,'cast')

In [56]:
df_high_count = exp_df_act_bud_high.groupby('cast').count().reset_index()
df_high_count.sort_values('budget', ascending = False, inplace = True)
df_high_count.head()

                cast  budget
965       Matt Damon      18
13      Adam Sandler      17
68    Angelina Jolie      16
1411      Tom Cruise      15
390     Eddie Murphy      15

In [57]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [58]:
df_act_gen = data[['cast','genres']]
df_act_gen_exp = expand_col(df_act_gen,'cast')
df_act_gen_exp_exp = expand_col(df_act_gen_exp,'genres')

In [59]:
df_cage_genres = df_act_gen_exp_exp[df_act_gen_exp_exp['cast'] == 'Nicolas Cage']['genres']
df_cage_genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

In [60]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [61]:
fail_paramount = data[data['production_companies'].str.contains('Paramount Pictures')][['imdb_id','original_title', 'profit']].sort_values('profit').iloc[0]
print(fail_paramount)

imdb_id                      tt0267626
original_title    K-19: The Widowmaker
profit                       -64831034
Name: 925, dtype: object

In [62]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [63]:
revenue_by_year = data[['revenue','release_year']].groupby('release_year').sum().sort_values(by = 'revenue', ascending = False)
print(revenue_by_year)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

In [64]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [65]:
profit_warner = data[data['production_companies'].str.contains('Warner Bros.')][['release_year','profit']].groupby('release_year').sum()
profit_warner.sort_values(by='profit', ascending = False, inplace = True)
print(profit_warner)

                  profit
release_year
2014          2295464519
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682
2003          1855493377
2009          1822454136
2013          1636453400
2004          1631933725
2005          1551980298
2001          1343545668
2012          1258020056
2002          1022709901
2015           870368348
2006           620170743
2000           452631386

In [66]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [67]:
data[['original_title','release_month']].groupby('release_month').count().sort_values(by='original_title', ascending = False)

               original_title
release_month
9                         227
12                        190
10                        186
8                         161
3                         156
4                         149
6                         147
11                        146
7                         142
5                         140
2                         135
1                         110

In [68]:
answers['21'] = 'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [69]:
data[data['release_month'].isin([6,7,8])][['original_title']].count()

original_title    450
dtype: int64

In [70]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [71]:
df_dir = expand_col(data, 'director')
winter_dir = df_dir[df_dir['release_month'].isin([1,2,12])][['director','original_title']].groupby(['director']).count()
winter_dir.sort_values(by = 'original_title', ascending = False, inplace = True)
winter_dir.head()

                   original_title
director
Peter Jackson                   7
Steven Soderbergh               6
Clint Eastwood                  6
Shawn Levy                      4
Adam Shankman                   4

In [72]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [73]:
data_pc_exp = expand_col(data[['production_companies', 'original_title', 'overview']],'production_companies')

data_pc_exp['words'] = data_pc_exp['original_title'].str.len()
data_pc_exp_wrd_mean = data_pc_exp[['production_companies','words']].groupby('production_companies').mean()
data_pc_exp_wrd_mean.sort_values(by='words', ascending = False, inplace = True)
data_pc_exp_wrd_mean.head()

                           words
production_companies
Four By Two Productions     83.0
Jim Henson Company, The     59.0
Dos Corazones               47.0
Polsky Films                46.0
Museum Canada Productions   46.0

In [74]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [75]:
len(data_pc_exp)

6078

In [76]:
data_pc_exp['len_overview'] = data_pc_exp['overview'].str.split(' ').str.len()

In [77]:
data_pc_exp_wrd_mean = data_pc_exp[['production_companies','len_overview']].groupby('production_companies').mean()
data_pc_exp_wrd_mean.sort_values(by = 'len_overview', ascending = False, inplace = True)
data_pc_exp_wrd_mean.head()

                                  len_overview
production_companies
Midnight Picture Show                    175.0
Heineken Branded Entertainment           161.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0

In [78]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [79]:
one_percent_range = data['vote_average'].quantile(q=0.99)

In [80]:
data[data['vote_average'] >= one_percent_range][['original_title', 'vote_average']]

                                         original_title  vote_average
9                                            Inside Out           8.0
28                                            Spotlight           7.8
34                                                 Room           8.0
118                                        Interstellar           8.0
119                             Guardians of the Galaxy           7.9
124                                          Big Hero 6           7.8
125                                  The Imitation Game           8.0
128                                           Gone Girl           7.9
138                            The Grand Budapest Hotel           7.9
155                            The Theory of Everything           7.8
177                              The Fault in Our Stars           7.8
283                                          Mr. Nobody           7.8
316                                            3 Idiots           7.8
370                                           Inception           7.9
496   The Lord of the Rings: The Fellowship of the Ring           7.8
599                                     The Dark Knight           8.1
863               The Lord of the Rings: The Two Towers           7.8
872                                         The Pianist           7.9
1081      The Lord of the Rings: The Return of the King           7.9
1183                            The Wolf of Wall Street           7.9
1188                                                Her           7.8
1191                                   12 Years a Slave           7.9
1205                                          Prisoners           7.8
1213                                 Dallas Buyers Club           7.8
1444                                       The Prestige           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1688                                There Will Be Blood           7.8
1800                                            Memento           7.9

In [81]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [82]:
actor_list = data['cast'].str.split('|')

In [83]:
pairs_count = collections.Counter()
for i in actor_list:
     for j in list(combinations(i, 2)):
            pairs_count[j] += 1

In [84]:
pairs_count.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [85]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

# Submission

In [86]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [87]:
# и убедиться что ни чего не пропустил)
len(answers)

27